th, td {
    border: solid 1px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.fonte16 {
    font-size: 16px;
}

.corDeFundo {
    background-color: #ccc;
}

.corDaFonte {
    color: #555;
}

